[user]
	name = y-brehm 
	email = y_brehm@proton.me
[init]
    defaultBranch = main
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    d = difftool
    m = mergetool
[diff]
    tool = nvim
[difftool "nvim"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\" -c \"wincmd l\"
[difftool]
    prompt = false
[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\" -c \"wincmd l\"
[mergetool]
    keepBackup = false
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
